# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build / derived
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (如未使用可忽略)
Pods/
Carthage/Build/
